<div class="list small-8 columns">
  <% @meetups.each_with_index do |meetup, index| %>
    <div class="row">
      <div class="small-12 columns">
        <div class="callout">
          <h3><%= link_to meetup.name, meetup_path(meetup), {class: "meetup-name"} %></h3>
          <h5><%= meetup.language %></h5>
          <%= image_tag(meetup.flag, class: "flag") %>
          <p><%= meetup.time %> <%= meetup.date %> </p>
          <p><%= meetup.city %>, <%= meetup.state %></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row small 6 columns">
</div>
