<% if @membership_current %>
  <input type='hidden' id="membership_current" value="<%= @membership_current.id %>"/>
<% end %>
<input type="hidden" id="meetup_id" value="<%= @meetup.id %>"/>
<input type="hidden" id="user_signed_in" value="<%= user_signed_in? %>"/>
<% if current_user %>
  <input type="hidden" id="current_user" value="<%= current_user.id %>"/>
  <input type="hidden" id="current_member" value="<%= @current_member %>"/>
<% end %>


  <div class="show-header row">
    <div class="name-language-flag callout small-6 medium-5 columns">
      <h1><%= @meetup.name %></h1>
        <%= image_tag(@meetup.flag, class: "flag") %>
        <p><%= @meetup.language %></p>
        <div>
          <div>
            <% if user_signed_in? && (current_user.id == @meetup.user_id) %>
              <%= link_to 'Delete Meetup', meetup_path(@meetup), action: 'destroy', method: :delete %> /
              <%= link_to 'Edit Meetup', edit_meetup_path %> /
            <% end %>
          </div>
        </div>
    </div>

    <div class="description small-6 medium-5 columns">
      <p><%= @meetup.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="where callout small-12 medium-5 columns">
      <div>
        <h4>Where</h4>
        <h5><%= @meetup.location_name %></h5>
        <p><%= @meetup.address %>
        <%= @meetup.city %>, <%= @meetup.state %> <%= @meetup.zip %></p>
      </div>
      <div class="map">
        <iframe
          width="375"
          height="375"
          zoom="10"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_KEY']%>&zoom=16&q=<%= @meetup.address %>, <%= @meetup.zip %>">
        </iframe>
      </div>
    </div>
    <div class="when-member small-3 columns">
      <div class="when callout">
        <h4>When</h4>
        <p><%= @meetup.date %> - <%= @meetup.time %></p>
      </div>
      <div class= "members callout" id="app">
      </div>
    </div>
    <div class="posts callout small-3 columns">
      <div id="board">
      </div>
    </div>
  </div>
